In [62]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [63]:
df=pd.read_csv("E:\DataScience-data\insurance.csv")

In [64]:
df.shape

(1338, 7)

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [66]:
df=df.drop_duplicates()

In [67]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [68]:
df.shape

(1337, 7)

In [69]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [70]:
x=df.drop("charges",axis=1)
y=df["charges"]

In [71]:
from sklearn.preprocessing import LabelEncoder
L1=LabelEncoder()
L2=LabelEncoder()
L3=LabelEncoder()

In [72]:
x["sex"]=L1.fit_transform(x["sex"])
x["smoker"]=L2.fit_transform(x["smoker"])
x["region"]=L3.fit_transform(x["region"])

In [73]:
x.head()

   age  sex     bmi  children  smoker  region
0   19    0  27.900         0       1       3
1   18    1  33.770         1       0       2
2   28    1  33.000         3       0       2
3   33    1  22.705         0       0       1
4   32    1  28.880         0       0       1

In [74]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(x,y,train_size=0.8)

In [75]:
print(xtrain.shape)
print(xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(1069, 6)
(268, 6)
(1069,)
(268,)

In [76]:
from sklearn.linear_model import LinearRegression
algo=LinearRegression()

In [77]:
algo.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [78]:
algo.intercept_

-12724.982310594982

In [79]:
algo.coef_

array([  261.41753936,  -133.7486188 ,   365.73596069,   463.39319275,
       23892.88016832,  -441.43835393])

In [80]:
ypred=algo.predict(xtest)

In [81]:
from sklearn.metrics import mean_absolute_error
print(mean_absolute_error(ytest,ypred))

3963.8048042638443

In [82]:
from sklearn.metrics import r2_score
print(r2_score(ytest,ypred))

0.7166029478842257

In [83]:
import joblib
joblib.dump(algo,r"E:\DataScience-data\algo\linear-model.pkl")

['E:\\DataScience-data\\algo\\linear-model.pkl']

In [84]:
joblib.dump(L1,r"E:\DataScience-data\algo\linear-model-l1.pkl")
joblib.dump(L2,r"E:\DataScience-data\algo\linear-model-l2.pkl")
joblib.dump(L3,r"E:\DataScience-data\algo\linear-model-l3.pkl")

['E:\\DataScience-data\\algo\\linear-model-l3.pkl']